In [65]:
import pandas as pd
import numpy as np
from glob import glob as g
import matplotlib.pyplot as plt

In [66]:
PageRankResults_list = []
names = []
for results_file in sorted(g("PageRankResults_round*.txt")):
    name = "pr_" + results_file[len("PageRankResults_"):-4]
    PageRankResults = pd.read_table(results_file, sep=" ", 
                                    quoting=3, na_values='', na_filter=False,
                                    header=None, names=["article", name])
    PageRankResults.set_index("article", inplace=True)
    PageRankResults_list.append(PageRankResults)

In [67]:
PageRankResults = PageRankResults_list[0]
for df_ in PageRankResults_list[1:]:
    PageRankResults = PageRankResults.join(df_, how='outer')

PageRankResults.describe()

           pr_round0      pr_round1      pr_round2      pr_round3
count  903556.000000  903556.000000  903556.000000  903556.000000
mean        0.155969       0.155968       0.155968       0.155969
std         0.067821       0.067881       0.067881       0.067820
min         0.150000       0.150000       0.150000       0.150000
25%         0.150465       0.150466       0.150466       0.150465
50%         0.151263       0.151263       0.151263       0.151263
75%         0.153601       0.153602       0.153602       0.153601
max        25.471842      25.487890      25.487890      25.471392

In [68]:
null_values = PageRankResults[PageRankResults["pr_round0"].isnull() |
                              PageRankResults["pr_round1"].isnull() |
                              PageRankResults["pr_round2"].isnull() |
                              PageRankResults["pr_round3"].isnull()]
null_values.head()

Empty DataFrame
Columns: [pr_round0, pr_round1, pr_round2, pr_round3]
Index: []

In [69]:
PageRankResults.describe()
PageRankResults.loc["Dejiko_No_Maibura__（でじこ　の　まいブラ）"]

pr_round0    0.150058
pr_round1    0.150058
pr_round2    0.150058
pr_round3    0.150058
Name: Dejiko_No_Maibura__（でじこ　の　まいブラ）, dtype: float64

In [70]:
print(PageRankResults.info())

<class 'pandas.core.frame.DataFrame'>
Index: 903556 entries, !!! to 애국가,_pronounced_as_Aegug-ga
Data columns (total 4 columns):
pr_round0    903556 non-null float64
pr_round1    903556 non-null float64
pr_round2    903556 non-null float64
pr_round3    903556 non-null float64
dtypes: float64(4)
memory usage: 74.5+ MB
None

In [71]:
duplicated = PageRankResults[PageRankResults.index.duplicated()]
len(duplicated)
print(duplicated)

Empty DataFrame
Columns: [pr_round0, pr_round1, pr_round2, pr_round3]
Index: []